Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat: short hand syntax for component imports (#1552)
  packages/marko/docs/syntax.md
  packages/marko/src/core-tags/core/import-tag.js
  packages/marko/test/compiler/fixtures-html/import-tag/expected.js
  packages/marko/test/compiler/fixtures-html/import-tag/marko.json
  packages/marko/test/compiler/fixtures-html/import-tag/tags/test-hello/marko-tag.json
  packages/marko/test/compiler/fixtures-html/import-tag/tags/test-hello/renderer.js
  packages/marko/test/compiler/fixtures-html/import-tag/template.marko
Due: prettier --write, eslint

docs: add reference doc for component import shorthand
  packages/marko/docs/syntax.md
Due: prettier --write

chore(release): 4.21.0
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write

fix(legacy dependencies): relative path should begin with ./
  packages/marko/src/runtime/components/legacy/dependencies/index.js
Due: prettier --write, eslint

chore(release): 4.21.1
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write

fix(legacy dependencies): relative path should begin with ./ (#1558)
  packages/marko/src/runtime/components/legacy/dependencies/index.js
Due: prettier --write, eslint

Merge branch 'master' of github.com:mlrawlings/fluurt-signals
  packages/fluurt-signals/common/helpers.ts
  packages/fluurt-signals/dom/index.ts
  packages/fluurt-signals/html/attrs.ts
  packages/fluurt-signals/html/content.ts
  packages/fluurt-signals/html/dynamic-tag.ts
  packages/fluurt-signals/html/index.ts
Due: none

fix: switch safe renderer to use nextTick for errors (#1554)
  packages/marko/src/runtime/renderable.js
Due: prettier --write, eslint

docs: fix a typo in custom tags page (#1556)
  packages/marko/docs/custom-tags.md
Due: prettier --write

perf: minify runtime comments, remove unnecessary attr quotes (#1557)
  packages/marko/src/runtime/components/beginComponent.js
  packages/marko/src/runtime/components/endComponent.js
  packages/marko/src/runtime/html/AsyncStream.js
  packages/marko/src/runtime/html/helpers/attr.js
  packages/marko/src/runtime/html/helpers/escape-quotes.js
  packages/marko/test/render/fixtures/attr-escape-xml/expected.html
  packages/marko/test/render/fixtures/attrs/expected.html
  packages/marko/test/render/fixtures/component-aria-key/expected.html
  packages/marko/test/render/fixtures/component-file-export-class/expected.html
  packages/marko/test/render/fixtures/component-label-for/expected.html
  packages/marko/test/render/fixtures/component-safe-json/expected.html
  packages/marko/test/render/fixtures/components-await-beginAsync/expected.html
  packages/marko/test/render/fixtures/components-await-title/expected.html
  packages/marko/test/render/fixtures/components-await/expected.html
  packages/marko/test/render/fixtures/components/expected.html
  packages/marko/test/render/fixtures/dynamic-split-component/expected.html
  packages/marko/test/render/fixtures/dynamic-tag-arguments/expected.html
  packages/marko/test/render/fixtures/global-runtime-id/expected.html
  packages/translator-default/test/fixtures/attr-falsey/html-expected.js
  packages/translator-default/test/fixtures/attr-style/html-expected.js
  packages/translator-default/test/fixtures/custom-tag-transform/html-expected.js
  packages/translator-default/test/fixtures/data-marko-implicit-component/html-expected.js
  packages/translator-default/test/fixtures/event-handlers/html-expected.js
  packages/translator-default/test/fixtures/no-update-modifier-multiple/html-expected.js
  packages/translator-default/test/fixtures/sanity-check/html-expected.js
  packages/translator-default/test/fixtures/shorthand-classname/html-expected.js
  packages/translator-default/test/fixtures/shorthand-id/html-expected.js
  packages/translator-default/test/fixtures/simple-attrs-tag/html-expected.js
  packages/translator-default/test/fixtures/style-block-empty/html-expected.js
  packages/translator-default/test/fixtures/style-block-with-styles/html-expected.js
  packages/translator-default/test/fixtures/svg-tag/html-expected.js
Due: prettier --write, eslint

chore: publish
  CHANGELOG.md
  lerna.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write

refactor: use first/lastChild instead of before/after on fragments
  packages/fluurt-signals/dom/control-flow.ts
  packages/fluurt-signals/dom/dom.ts
  packages/fluurt-signals/dom/fragments.ts
  packages/fluurt-signals/dom/reconcile.ts
  packages/fluurt-signals/test/dom/fixtures/async-batches/snapshot.expected.md
  packages/fluurt-signals/test/dom/fixtures/async-for/snapshot.expected.md
  packages/fluurt-signals/test/dom/fixtures/async-if/snapshot.expected.md
  packages/fluurt-signals/test/dom/fixtures/async-out-of-order/snapshot.expected.md
  packages/fluurt-signals/test/dom/fixtures/async-reconciliation/snapshot.expected.md
  packages/fluurt-signals/test/dom/fixtures/async/snapshot.expected.md
  packages/fluurt-signals/test/dom/fixtures/batched-updates-cleanup/snapshot.expected.md
  packages/fluurt-signals/test/dom/fixtures/create-and-clear-rows-loop-from/snapshot.expected.md
  packages/fluurt-signals/test/dom/fixtures/create-and-clear-rows-loop-in/snapshot.expected.md
  packages/fluurt-signals/test/dom/fixtures/create-and-clear-rows/snapshot.expected.md
  packages/fluurt-signals/test/dom/fixtures/dynamic-tag/snapshot.expected.md
  packages/fluurt-signals/test/dom/fixtures/move-and-clear-children/snapshot.expected.md
  packages/fluurt-signals/test/dom/fixtures/remove-and-add-rows/snapshot.expected.md
  packages/fluurt-signals/test/dom/fixtures/switch-adjacent-only-children/snapshot.expected.md
  packages/fluurt-signals/test/dom/fixtures/toggle-first-child/snapshot.expected.md
  packages/fluurt-signals/test/dom/fixtures/toggle-last-child/snapshot.expected.md
  packages/fluurt-signals/test/dom/fixtures/toggle-middle-child/snapshot.expected.md
  packages/fluurt-signals/test/dom/fixtures/toggle-only-child/snapshot.expected.md
  packages/fluurt-signals/test/dom/fixtures/update-html/snapshot.expected.md
Due: prettier --write

fix: split components under preserved root resetting the preserve
  packages/marko/src/runtime/components/beginComponent.js
  packages/marko/test/components-browser/fixtures/component-preserve-multiple-split/components/app-split/component-browser.js
  packages/marko/test/components-browser/fixtures/component-preserve-multiple-split/components/app-split/index.marko
  packages/marko/test/components-browser/fixtures/component-preserve-multiple-split/index.marko
  packages/marko/test/components-browser/fixtures/component-preserve-multiple-split/test.js
Due: prettier --write, eslint

chore(release): 4.21.2
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write

fix: split components under preserved root resetting ___isPreserved (#1559)
  packages/marko/src/runtime/components/beginComponent.js
  packages/marko/test/components-browser/fixtures/component-preserve-multiple-split/components/app-split/component-browser.js
  packages/marko/test/components-browser/fixtures/component-preserve-multiple-split/components/app-split/index.marko
  packages/marko/test/components-browser/fixtures/component-preserve-multiple-split/index.marko
  packages/marko/test/components-browser/fixtures/component-preserve-multiple-split/test.js
Due: prettier --write, eslint

fix: allow legacy widgets to update after being destroyed
  packages/marko/src/runtime/components/legacy/defineWidget-legacy-browser.js
  packages/marko/test/components-browser/fixtures-deprecated/widget-destroy-update/index.js
  packages/marko/test/components-browser/fixtures-deprecated/widget-destroy-update/template.marko
  packages/marko/test/components-browser/fixtures-deprecated/widget-destroy-update/test.js
Due: prettier --write, eslint

fix: allow legacy widgets to update after being destroyed (#1560)
  packages/marko/src/runtime/components/legacy/defineWidget-legacy-browser.js
  packages/marko/test/components-browser/fixtures-deprecated/widget-destroy-update/index.js
  packages/marko/test/components-browser/fixtures-deprecated/widget-destroy-update/template.marko
  packages/marko/test/components-browser/fixtures-deprecated/widget-destroy-update/test.js
Due: prettier --write, eslint

chore(release): 4.21.3
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write

fix: regression with unquoted attribute with trailing slash
  packages/marko/src/runtime/components/beginComponent.js
  packages/marko/src/runtime/components/endComponent.js
  packages/marko/src/runtime/html/AsyncStream.js
  packages/marko/src/runtime/html/helpers/attr.js
  packages/marko/test/hot-reload/fixtures/component-to-template/initial-expected.html
  packages/marko/test/hot-reload/fixtures/template-export-component/initial-expected.html
  packages/marko/test/hot-reload/fixtures/template-export-component/reloaded-expected.html
  packages/marko/test/hot-reload/fixtures/template-to-component/reloaded-expected.html
  packages/marko/test/render/fixtures-async-deprecated/components-await-beginAsync/expected.html
  packages/marko/test/render/fixtures-async-deprecated/components-await-title/expected.html
  packages/marko/test/render/fixtures-async-deprecated/components-await/expected.html
  packages/marko/test/render/fixtures-deprecated/component-aria-key/expected.html
  packages/marko/test/render/fixtures-deprecated/component-elId/expected.html
  packages/marko/test/render/fixtures-deprecated/component-getElId/expected.html
  packages/marko/test/render/fixtures/attr-unquoted/expected.html
  packages/marko/test/render/fixtures/attr-unquoted/template.marko
  packages/marko/test/render/fixtures/attr-unquoted/test.js
  packages/marko/test/render/fixtures/attr-unquoted/vdom-expected.html
  packages/marko/test/render/fixtures/component-aria-key/expected.html
  packages/marko/test/render/fixtures/component-file-export-class/expected.html
  packages/marko/test/render/fixtures/component-label-for/expected.html
  packages/marko/test/render/fixtures/component-safe-json/expected.html
  packages/marko/test/render/fixtures/components-await-beginAsync/expected.html
  packages/marko/test/render/fixtures/components-await-title/expected.html
  packages/marko/test/render/fixtures/components-await/expected.html
  packages/marko/test/render/fixtures/components/expected.html
  packages/marko/test/render/fixtures/dynamic-split-component/expected.html
  packages/marko/test/render/fixtures/dynamic-tag-arguments/expected.html
  packages/marko/test/render/fixtures/global-runtime-id/expected.html
Due: prettier --write, eslint

fix: regression with unquoted attribute with trailing slash (#1561)
  packages/marko/src/runtime/components/beginComponent.js
  packages/marko/src/runtime/components/endComponent.js
  packages/marko/src/runtime/html/AsyncStream.js
  packages/marko/src/runtime/html/helpers/attr.js
  packages/marko/test/hot-reload/fixtures/component-to-template/initial-expected.html
  packages/marko/test/hot-reload/fixtures/template-export-component/initial-expected.html
  packages/marko/test/hot-reload/fixtures/template-export-component/reloaded-expected.html
  packages/marko/test/hot-reload/fixtures/template-to-component/reloaded-expected.html
  packages/marko/test/render/fixtures-async-deprecated/components-await-beginAsync/expected.html
  packages/marko/test/render/fixtures-async-deprecated/components-await-title/expected.html
  packages/marko/test/render/fixtures-async-deprecated/components-await/expected.html
  packages/marko/test/render/fixtures-deprecated/component-aria-key/expected.html
  packages/marko/test/render/fixtures-deprecated/component-elId/expected.html
  packages/marko/test/render/fixtures-deprecated/component-getElId/expected.html
  packages/marko/test/render/fixtures/attr-unquoted/expected.html
  packages/marko/test/render/fixtures/attr-unquoted/template.marko
  packages/marko/test/render/fixtures/attr-unquoted/test.js
  packages/marko/test/render/fixtures/attr-unquoted/vdom-expected.html
  packages/marko/test/render/fixtures/component-aria-key/expected.html
  packages/marko/test/render/fixtures/component-file-export-class/expected.html
  packages/marko/test/render/fixtures/component-label-for/expected.html
  packages/marko/test/render/fixtures/component-safe-json/expected.html
  packages/marko/test/render/fixtures/components-await-beginAsync/expected.html
  packages/marko/test/render/fixtures/components-await-title/expected.html
  packages/marko/test/render/fixtures/components-await/expected.html
  packages/marko/test/render/fixtures/components/expected.html
  packages/marko/test/render/fixtures/dynamic-split-component/expected.html
  packages/marko/test/render/fixtures/dynamic-tag-arguments/expected.html
  packages/marko/test/render/fixtures/global-runtime-id/expected.html
Due: prettier --write, eslint

chore(release): 4.21.4
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write

chore(release): 4.21.5
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write

fix: regression with unquoted attribute with trailing slash (#1561)
  packages/marko/src/runtime/components/beginComponent.js
  packages/marko/src/runtime/components/endComponent.js
  packages/marko/src/runtime/html/AsyncStream.js
  packages/marko/src/runtime/html/helpers/attr.js
  packages/marko/test/render/fixtures/attr-unquoted/expected.html
  packages/marko/test/render/fixtures/attr-unquoted/template.marko
  packages/marko/test/render/fixtures/attr-unquoted/test.js
  packages/marko/test/render/fixtures/attr-unquoted/vdom-expected.html
  packages/marko/test/render/fixtures/component-aria-key/expected.html
  packages/marko/test/render/fixtures/component-file-export-class/expected.html
  packages/marko/test/render/fixtures/component-label-for/expected.html
  packages/marko/test/render/fixtures/component-safe-json/expected.html
  packages/marko/test/render/fixtures/components-await-beginAsync/expected.html
  packages/marko/test/render/fixtures/components-await-title/expected.html
  packages/marko/test/render/fixtures/components-await/expected.html
  packages/marko/test/render/fixtures/components/expected.html
  packages/marko/test/render/fixtures/dynamic-split-component/expected.html
  packages/marko/test/render/fixtures/dynamic-tag-arguments/expected.html
  packages/marko/test/render/fixtures/global-runtime-id/expected.html
Due: prettier --write, eslint

feat: add new import dynamic tag syntax to migrations
  packages/marko/docs/syntax.md
  packages/marko/src/core-tags/migrate/all-tags/body-only-if.js
  packages/marko/src/core-tags/migrate/util/import-tag.js
  packages/marko/test/migrate/fixtures/body-only-if-dynamic/components/fifth-component.marko
  packages/marko/test/migrate/fixtures/body-only-if-dynamic/components/fourth-component.marko
  packages/marko/test/migrate/fixtures/body-only-if-dynamic/components/my-component.marko
  packages/marko/test/migrate/fixtures/body-only-if-dynamic/components/second-component.marko
  packages/marko/test/migrate/fixtures/body-only-if-dynamic/components/third-component.marko
  packages/marko/test/migrate/fixtures/body-only-if-dynamic/snapshot-expected.marko
  packages/marko/test/migrate/fixtures/body-only-if-dynamic/template.marko
  packages/marko/test/migrate/fixtures/body-only-if-renderer/snapshot-expected.marko
Due: prettier --write, eslint

refactor: remove unnecessary check in beginFragment
  packages/fluurt-signals/dom/dom.ts
Due: none

Use upath
  package.json
Due: prettier --write

Fix excludePackage on window
  compiler/taglib-finder/index.js
Due: prettier --write, eslint

wip: use template parsing w/ cloneNode
  packages/fluurt-signals/common/types.ts
  packages/fluurt-signals/dom/control-flow.ts
  packages/fluurt-signals/dom/dom.ts
  packages/fluurt-signals/dom/fragments.ts
  packages/fluurt-signals/dom/index.ts
  packages/fluurt-signals/test/dom/fixtures/switch-adjacent-only-children/index.ts
  packages/fluurt-signals/test/dom/fixtures/toggle-first-child/index.ts
  packages/fluurt-signals/test/dom/fixtures/toggle-last-child/index.ts
  packages/fluurt-signals/test/dom/fixtures/toggle-middle-child/index.ts
  packages/fluurt-signals/test/dom/fixtures/toggle-only-child/index.ts
  packages/fluurt-signals/test/dom/fixtures/update-attr/index.ts
  packages/fluurt-signals/test/dom/fixtures/update-dynamic-attrs/index.ts
  packages/fluurt-signals/test/dom/fixtures/update-html/index.ts
  packages/fluurt-signals/test/dom/fixtures/update-text/index.ts
  packages/fluurt-signals/test/dom/utils/render-and-track-mutations.ts
  packages/fluurt-signals/test/end-to-end/main.test.ts
Due: none

wip: client tests (except for dynamic tag) working
  packages/fluurt-signals/dom/control-flow.ts
  packages/fluurt-signals/dom/dom.ts
  packages/fluurt-signals/dom/event.ts
  packages/fluurt-signals/dom/fragments.ts
  packages/fluurt-signals/dom/signals.ts
  packages/fluurt-signals/test/dom/fixtures/async-batches/index.ts
  packages/fluurt-signals/test/dom/fixtures/async-for/index.ts
  packages/fluurt-signals/test/dom/fixtures/async-if/index.ts
  packages/fluurt-signals/test/dom/fixtures/async-out-of-order/index.ts
  packages/fluurt-signals/test/dom/fixtures/async-reconciliation/index.ts
  packages/fluurt-signals/test/dom/fixtures/async/index.ts
  packages/fluurt-signals/test/dom/fixtures/batched-updates-cleanup/index.ts
  packages/fluurt-signals/test/dom/fixtures/batched-updates/index.ts
  packages/fluurt-signals/test/dom/fixtures/create-and-clear-rows-loop-from/index.ts
  packages/fluurt-signals/test/dom/fixtures/create-and-clear-rows-loop-in/index.ts
  packages/fluurt-signals/test/dom/fixtures/create-and-clear-rows/index.ts
  packages/fluurt-signals/test/dom/fixtures/dynamic-tag/index.ts
  packages/fluurt-signals/test/dom/fixtures/event-handlers/index.ts
  packages/fluurt-signals/test/dom/fixtures/move-and-clear-children/index.ts
  packages/fluurt-signals/test/dom/fixtures/remove-and-add-rows/index.ts
  packages/fluurt-signals/test/utils/snapshot.ts
Due: none

fix: issue with data-marko attributes under 'no-update' with <await>
  packages/marko/src/compiler/ast/HtmlElement/html/StartTag.js
  packages/marko/src/runtime/html/AsyncStream.js
  packages/marko/src/runtime/html/helpers/data-marko.js
  packages/marko/test/compiler/fixtures-html/no-update-multiple/expected.js
  packages/marko/test/compiler/fixtures-html/no-update/expected.js
  packages/marko/test/components-compilation/fixtures-html-deprecated/bind-component/expected.js
  packages/marko/test/components-compilation/fixtures-html-deprecated/bind-widget/expected.js
  packages/marko/test/components-compilation/fixtures-html-deprecated/component-include-attr/expected.js
  packages/marko/test/components-compilation/fixtures-html-deprecated/component-template-entry/expected.js
  packages/marko/test/components-compilation/fixtures-html-deprecated/widget-types/expected.js
  packages/marko/test/render/fixtures/await-no-update-content/component-browser.js
  packages/marko/test/render/fixtures/await-no-update-content/expected.html
  packages/marko/test/render/fixtures/await-no-update-content/template.marko
  packages/marko/test/render/fixtures/await-no-update-content/test.js
Due: prettier --write, eslint

fix: issue with data-marko attributes under 'no-update' with <await> (#1564)
  packages/marko/src/compiler/ast/HtmlElement/html/StartTag.js
  packages/marko/src/runtime/html/AsyncStream.js
  packages/marko/src/runtime/html/helpers/data-marko.js
  packages/marko/test/compiler/fixtures-html/no-update-multiple/expected.js
  packages/marko/test/compiler/fixtures-html/no-update/expected.js
  packages/marko/test/components-compilation/fixtures-html-deprecated/bind-component/expected.js
  packages/marko/test/components-compilation/fixtures-html-deprecated/bind-widget/expected.js
  packages/marko/test/components-compilation/fixtures-html-deprecated/component-include-attr/expected.js
  packages/marko/test/components-compilation/fixtures-html-deprecated/component-template-entry/expected.js
  packages/marko/test/components-compilation/fixtures-html-deprecated/widget-types/expected.js
  packages/marko/test/render/fixtures/await-no-update-content/component-browser.js
  packages/marko/test/render/fixtures/await-no-update-content/expected.html
  packages/marko/test/render/fixtures/await-no-update-content/template.marko
  packages/marko/test/render/fixtures/await-no-update-content/test.js
Due: prettier --write, eslint

chore(release): 4.21.6
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write

feat: add new syntax for dynamic component import
  packages/marko/docs/syntax.md
  packages/translator-default/src/optimize.js
  packages/translator-default/src/taglib/core/marko.json
  packages/translator-default/src/taglib/core/translate-import.js
  packages/translator-default/test/fixtures/import-tag/components/baz.marko
  packages/translator-default/test/fixtures/import-tag/generated-expected.marko
  packages/translator-default/test/fixtures/import-tag/html-expected.js
  packages/translator-default/test/fixtures/import-tag/template.marko
  packages/translator-default/test/fixtures/import-tag/vdom-expected.js
Due: prettier --write, eslint

fix: components not always initializing inside client-reorder await
  packages/marko/src/core-tags/core/await/reorderer-renderer.js
  packages/marko/test/components-pages/fixtures/split-async-keys/components/app-hello/index.marko
  packages/marko/test/components-pages/fixtures/split-async-keys/tests.js
Due: prettier --write, eslint

fix: components not always initializing inside client-reorder await (#1566)
  packages/marko/src/core-tags/core/await/reorderer-renderer.js
  packages/marko/test/components-pages/fixtures/split-async-keys/components/app-hello/index.marko
  packages/marko/test/components-pages/fixtures/split-async-keys/tests.js
Due: prettier --write, eslint

chore(release): 4.21.7
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,css,md}) or (any of: *.js)
  eslint: any of: *.js
