Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{json,css,md}": ["prettier --write", "git add"],
  "*.js": ["eslint", "prettier --write", "git add"]
}

fix: duplicate export 'registerOptimizer'
  packages/marko/src/compiler/util/vdom/index.js
Due: prettier --write, eslint

chore: lint with prettify
  packages/marko/src/runtime/html/AsyncStream.js
Due: prettier --write, eslint

fix: duplicate export 'registerOptimizer' (#1601)
  packages/marko/src/compiler/util/vdom/index.js
Due: prettier --write, eslint

updated error emitted to keep the init error obj (#1600)
  packages/marko/src/runtime/html/AsyncStream.js
Due: prettier --write, eslint

fix: attr helper could output unescaped html
  packages/fluurt-signals/html/attrs.ts
Due: none

refactor: clean slate
  .browserslistrc
  .commitlintrc.json
  .eslintignore
  .eslintrc.json
  .github/CODE_OF_CONDUCT.md
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  .gitmodules
  .huskyrc
  .lintstagedrc
  .nycrc
  .prettierignore
  .travis.yml
  LICENSE
  README.md
  babel.config.js
  commitlint.config.js
  lerna.json
  package-lock.json
  package.json
Due: prettier --write, eslint

perf: remove unecessary function for template load api
  packages/marko/src/loader/index-browser.js
Due: prettier --write, eslint

fix: prevent loading complain module in prod for legacy helpers
  packages/marko/helpers/empty-browser.marko
  packages/marko/helpers/empty.js
  packages/marko/helpers/notEmpty-browser.marko
  packages/marko/helpers/notEmpty.js
  packages/marko/package.json
  packages/marko/src/legacy-helpers/empty.js
  packages/marko/src/legacy-helpers/notEmpty.js
Due: prettier --write, eslint

chore(release): 4.23.3
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write

perf: avoid mutating component instance object shape
  packages/marko/src/runtime/components/legacy/defineRenderer-legacy.js
Due: prettier --write, eslint

perf: prevent bundlers from pulling in setImmediate shim
  packages/marko/src/runtime/setImmediate.js
Due: prettier --write, eslint

perf: avoid serializing empty w-config objects
  packages/marko/src/runtime/components/ComponentDef.js
  packages/marko/src/runtime/components/index.js
Due: prettier --write, eslint

chore(release): 4.23.4
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write

chore: publish
  CHANGELOG.md
  lerna.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write

fix(compiler): normalize windows paths when creating relative requires
  packages/compiler/src/babel-plugin/file.js
Due: prettier --write, eslint

chore: add fluurt translator to lerna
  package-lock.json
  package.json
  packages/translator/package.json
  packages/translator/src/index.ts
  packages/translator/tsconfig.json
Due: prettier --write

chore: update ts and make it be quiet
  package-lock.json
  package.json
  packages/runtime/dom/signals.ts
Due: prettier --write

docs: fix a couple of typos in the guides
  packages/marko/docs/conditionals-and-lists.md
  packages/marko/docs/events.md
Due: prettier --write

perf: misc optimizations
  packages/marko/src/runtime/components/Component.js
  packages/marko/src/runtime/components/init-components-browser.js
  packages/marko/src/runtime/components/legacy/defineRenderer-legacy.js
  packages/marko/src/runtime/components/legacy/defineWidget-legacy-browser.js
  packages/marko/src/runtime/components/legacy/renderer-legacy.js
  packages/marko/src/runtime/components/renderer.js
  packages/marko/src/runtime/components/util-browser.js
  packages/marko/src/runtime/helpers/class-value.js
  packages/marko/src/runtime/helpers/load-tag.js
  packages/marko/src/runtime/html/AsyncStream.js
  packages/marko/src/runtime/vdom/helpers/attrs.js
  packages/marko/src/runtime/vdom/parse-html.js
  packages/marko/src/runtime/vdom/vdom.js
Due: prettier --write, eslint

perf: misc optimizations (#1610)
  packages/marko/src/runtime/components/Component.js
  packages/marko/src/runtime/components/init-components-browser.js
  packages/marko/src/runtime/components/legacy/defineRenderer-legacy.js
  packages/marko/src/runtime/components/legacy/defineWidget-legacy-browser.js
  packages/marko/src/runtime/components/legacy/renderer-legacy.js
  packages/marko/src/runtime/components/renderer.js
  packages/marko/src/runtime/components/util-browser.js
  packages/marko/src/runtime/helpers/class-value.js
  packages/marko/src/runtime/helpers/load-tag.js
  packages/marko/src/runtime/html/AsyncStream.js
  packages/marko/src/runtime/vdom/helpers/attrs.js
  packages/marko/src/runtime/vdom/parse-html.js
  packages/marko/src/runtime/vdom/vdom.js
Due: prettier --write, eslint

chore(release): 4.23.5
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write

fix(marko): output esm for module-code
  packages/marko/compiler-browser.marko
  packages/marko/components-browser.marko
  packages/marko/index-browser.marko
  packages/translator-default/src/taglib/core/parse-module-code.js
Due: prettier --write, eslint
